@font-face {
    font-family: "CenturyGothic";
    src: url(fonts/CenturyGothic.ttf);
}

* {
    padding: 0;
    margin: 0;
}

body,
html {
    overflow-x: hidden;
    background-color: #212121;
    font-family: 'Raleway', sans-serif;
    scrollbar-color: #458245 #714826;
    /* «цвет ползунка» «цвет полосы скроллбара» */
    scrollbar-width: none;
}


/* --------------------------------------------------------- */

.wrapper {
    margin: 0 auto;
    max-width: 820px;
    width: 100%;
}


/* -------------------------------------------------------- */

header {
    background-color: #000;
    display: flex;
}

#checkbox-menu,
.toggle {
    display: none;
}

.menu {
    display: flex;
    list-style-type: none;
    height: 80px;
    align-items: center;
}

.menu li {
    padding: 15px 0;
    margin-right: 30px;
}

.menu li.lang {
    margin-right: 0;
}

.menu li.lang a {
    font-weight: 500;
    margin-left: 4px;
}

.menu li a {
    color: white;
    text-decoration: none;
    white-space: nowrap;
    padding: 1px 0;
    font-size: 15px;
    font-weight: 600;
}

.menu li a:hover {
    border-bottom: 1px solid #ffa500;
}

.m-l {
    margin-left: 402px;
}

.m-l-eng {
    margin-left: 437px;
}

.menu li a.check {
    color: white;
    border-bottom: 1px solid #ffa500;
}

.menu li a.uncheck {
    color: rgb(102, 102, 102);
}


/* ------------------------------------------------------- */

.contentTitle {
    text-align: center;
    color: #fff;
    font-size: 48px;
    font-weight: 900;
    padding: 15px 20px;
}

.aboutMePhotoBlock {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.aboutMePhotoBlock div {
    height: 350px;
    width: 400px;
}

.aboutMePhotoBlock div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}

.aboutMeText {
    color: #fff;
    padding: 15px 10px;
    font-size: 16px;
    letter-spacing: 0.2px;
}

.aboutMeContacts {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 25px 0 15px 0;
}

.contactAdress {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
    padding: 0 10px;
    white-space: nowrap;
}

.contactNumber {
    border-radius: 50px;
    background-color: #edbe90;
    font-size: 30px;
    white-space: nowrap;
    font-weight: 700;
    padding: 2px 30px;
    letter-spacing: 2px;
}

.contactNumber a {
    text-decoration: none;
    color: #000;
    font-family: 'CenturyGothic';
    font-weight: bold;
}

.contactSocial {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    width: 143px;
    padding: 0 10px;
}

.contactSocial img {
    width: 35px;
    margin-left: 15px;
}

.aboutMeTouch,
.contactAdressTouch,
.otherInfoTouch,
.aboutMeContactsTouch,
.mob-socialContacts,
.mob-titleIfServList hr,
.swiper-container {
    display: none;
}


/* -------------------------------------------------- */

.photoArea {
    height: 820px;
    display: grid;
    grid-template-columns: 270px 270px 270px;
    grid-template-rows: 270px 270px 270px;
    justify-content: space-between;
    align-content: space-between;
}

.photoArea img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}

.photoArea img:hover {
    outline: 2px solid #edbe90;
}


/* -------------------------------------------------- */

.wrapper750 {
    margin: 0 auto;
    max-width: 750px;
    width: 100%;
}

.servicesArea {
    margin-top: 15px;
    background-color: #181818;
}

.borderBlock {
    padding: 12px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.price {
    border: 1px solid #353535;
    border-radius: 50px;
    padding: 10px 25px;
    text-align: center;
}

.text-color-yellow p {
    color: #edbe90;
}

.text-color-white p {
    color: white;
}

.price p {
    width: 150px;
    font-size: 22px;
    font-family: 'CenturyGothic';
    font-weight: 700;
    letter-spacing: 2px;
}

.tarif {
    padding: 0 7px;
    color: #7a7a7a;
    white-space: nowrap;
    text-align: center;
    width: 50px;
    background-color: #181818;
    position: relative;
    top: 7px;
    left: 68px;
    font-size: 16px;
}

.p12 {
    padding: 0 12px;
}


/* ------------------------------------ */

video {
    padding: 0 20px;
    width: -webkit-fill-available;
    height: 500px;
}

.param-item {
    width: 100px;
    border: 1px solid #353535;
    border-radius: 14px;
    text-align: center;
    padding: 14px 5px;
}

.param-item p {
    font-size: 14px;
    color: #7a7a7a;
}

p.param-value {
    font-size: 24px;
    font-family: 'CenturyGothic';
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
    padding-top: 4px;
}

.param-icon {
    padding-left: 10px;
    width: 30px;
    position: relative;
    background-color: #181818;
    top: 12px;
    left: 36px;
}

.param-icon img {
    width: 20px;
}


/* ----------------------------------------------- */

.servicesList {
    display: flex;
    justify-content: space-around;
    padding: 0 20px 20px;
}

.servListCol {
    color: white;
    font-family: 'CenturyGothic';
}

.servListCol p {
    font-weight: 700;
    font-size: 20px;
}

.servListCol li {
    margin-top: 10px;
}

.yellowCheck ul {
    list-style-image: url(assets/foursquare-check-in-yellow.svg);
}

.greenCheck ul {
    list-style-image: url(assets/foursquare-check-in-green.svg);
}


/* ------------------------------------------------- */

.alertaYellow li {
    color: white;
    list-style: none;
    background: url(assets/peligroYellow.svg) no-repeat 0 4px;
    padding-left: 20px;
    padding-top: 4px;
}

.alertaRed li {
    color: white;
    list-style: none;
    background: url(assets/peligroRed.svg) no-repeat 0 4px;
    padding-left: 20px;
    padding-top: 4px;
}

.otherInfo {
    padding: 12px 12px 35px;
}

.otherInfoContacts {
    display: flex;
    align-items: center;
    padding: 10px 0px 20px 20px;
}

.otherInfoContacts a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-family: 'CenturyGothic';
    font-weight: 500;
}

.socialIcons {
    height: 22px;
}

.socialIcons img {
    width: 22px;
    margin-left: 8px;
}


/* -------------------------------------------------- */

footer {
    background-color: #000;
    height: 145px;
    padding: 12px;
}

.footerContent ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.footerContent li {
    padding: 25px;
}

.footerContent li a {
    text-decoration: none;
    color: white;
}

.footerContent p {
    text-align: center;
    color: #757575;
    line-height: 26px;
}

@media screen and (max-width: 870px) {
    body,
    .servicesArea,
    .tarif,
    .param-icon,
    footer {
        background-color: #434343;
    }
    #videoSotra,
    #aboutMe,
    .otherInfo,
    .footerContent ul,
    .hideOnPhone,
    #gallery {
        display: none;
    }
    .aboutMeTouch,
    .contactAdressTouch,
    .otherInfoTouch,
    .aboutMeContactsTouch,
    .mob-socialContacts {
        display: block;
    }
    .flex-revert {
        display: flex;
        flex-direction: column-reverse;
    }
    .servicesList {
        flex-direction: column;
    }
    /* ----------------------------------------------- */
    .wrapper {
        max-width: 870px;
    }
    .menu li.lang {
        display: none;
    }
    .toggle {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 26px;
        line-height: 40px;
        /* font-weight: bold; */
        background: #fea500;
        transition: all .1s linear;
        color: #000;
    }
    #checkbox-menu:checked+label .touch li {
        opacity: 1;
        visibility: visible;
        transition: all .7s linear;
    }
    #checkbox-menu:checked+label .touch {
        height: 200px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 0;
        transition: height .3s linear;
    }
    .menu li {
        opacity: 0;
        visibility: hidden;
        margin-right: 0;
    }
    .toggle a {
        color: #898989;
        text-decoration: none;
        padding: 0 33px;
        font-size: 16px;
        font-weight: 700;
    }
    .toggle a.check {
        color: #000;
    }
    /* ----------------------------------------------------- */
    .contentTitle {
        font-size: 28px;
        font-weight: 500;
        padding: 5px 30px;
    }
    .aboutMeText {
        padding: 15px 20px;
        font-size: 14px;
        font-weight: 400;
    }
    /* ----------------------------------------------------- */
    .swiper-container {
        display: block;
        width: 100%;
        height: 100%;
    }
    /* html,
    body {
        position: relative;
        height: 100%;
    } */
    /* body {
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
    } */
    .swiper-slide {
        text-align: center;
        /* font-size: 18px; */
        /* background: #fff; */
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0 0;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
        background-color: #fea500;
    }
    .swiper-button-prev:after,
    .swiper-button-next:after {
        color: #fea500;
    }
    /* ----------------------------------------------------- */
    .servicesArea {
        margin-top: 0;
    }
    .borderBlock {
        padding: 0;
        justify-content: space-evenly;
    }
    .param-item {
        width: 50px;
        padding: 10px;
    }
    .param-icon img {
        width: 18px;
    }
    .param-icon {
        padding-left: 6px;
        width: 24px;
        top: 10px;
        left: 22px;
    }
    .param-item,
    .param-icon {
        margin: 0 7px;
    }
    p.param-value {
        font-size: 20px;
        padding-top: 0;
    }
    .contactAdressTouch {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 18px 0;
    }
    .contactAdressTouch p {
        font-size: 12px;
        color: #898989;
    }
    .contactAdressTouch img {
        width: 20px;
        margin-right: 3px;
    }
    .price {
        padding: 6px 0;
    }
    .price p {
        width: 100px;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0;
    }
    .tarif {
        padding: 0 7px;
        width: 34px;
        top: 5px;
        left: 30px;
        font-size: 12px;
    }
    .tarif,
    .price {
        margin: 0 13px;
    }
    /* ----------------------- */
    .servListCol p {
        font-weight: 600;
        font-size: 14px;
        white-space: nowrap;
        margin-right: 10px;
    }
    .mob-titleIfServList {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    .mob-titleIfServList hr {
        display: block;
        width: 100%
    }
    .mob-servList {
        display: flex;
        justify-content: space-evenly;
    }
    .mob-servList ul {
        list-style: none;
    }
    .servListCol li {
        font-size: 12px;
        margin-left: 10px;
        max-width: 210px;
    }
    .mob-greenCheck li {
        list-style-image: url(assets/mob-serv-list/foursquare-check-in-green.svg);
        margin-left: 18px;
    }
    .mob-yellowCheck li {
        list-style-image: url(assets/mob-serv-list/foursquare-check-in-yellow.svg);
        margin-left: 18px;
    }
    .mob-attentionRed li {
        list-style-image: url(assets/mob-serv-list/peligroRed.svg);
        margin-left: 20px;
    }
    .mob-attentionYellow li {
        list-style-image: url(assets/mob-serv-list/peligroYellow.svg);
    }
    .mob-socialContacts a {
        text-decoration: none;
        color: #fff;
    }
    .mob-socialContacts img {
        width: 25px;
        margin: 0 15px 0 0;
    }
    .mob-socialContacts {
        margin: 10px 0 0 10px;
    }
    .contactSocial {
        justify-content: flex-start;
        padding: 10px 0;
    }
    /* ----------------------- */
    .contactNumber {
        font-size: 20px;
        font-weight: 600;
        padding: 8px 30px;
        letter-spacing: 2px;
        width: 240px;
        text-align: center;
    }
    .aboutMeContactsTouch {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .aboutMeContactsTouch .contactSocial {
        width: 200px;
        display: flex;
        justify-content: space-around;
        padding: 20px 0;
    }
    footer {
        height: 35px;
        padding: 20px;
    }
    .footerContent p {
        color: #fff;
    }
     :root {
        --swiper-navigation-size: 24px!important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 390px) {
    .param-item {
        padding: 5px;
    }
    .param-icon {
        padding-left: 6px;
        width: 22px;
        top: 8px;
        left: 18px;
    }
    .param-icon img {
        width: 14px;
    }
    p.param-value {
        font-size: 16px;
    }
    .tarif,
    .price {
        margin: 0 3px;
    }
    .price p {
        width: 80px;
        font-size: 12px;
    }
    .tarif {
        top: 4px;
        left: 17px;
    }
    .contactNumber {
        padding: 8px 25px;
    }
    .mob-socialContacts a {
        font-size: 14px;
    }
}